<section id="topbar" class="d-none d-lg-block">
    <div class="container clearfix">
        <div class="contact-info float-left">

            <div><img src="../../assets/img/location-icon.png" alt="">
                 contact@example.com</div>
            <div><img src="../../assets/img/message-icon.png" alt="">
                 contact@example.com</div>
            <div><img src="../../assets/img/phone-icon.png" alt=""> 
                 +1 5589 55488 55</div>
        </div>
        <div class="social-links float-right">
            <a href="#" class="facebook"><img src="../../assets/img/facebook.png"></a>
            <a href="#" class="linkedin"><img src="../../assets/img/linkedin.png"></a>
            <a href="#" class="twitter"><img src="../../assets/img/twitter.png"></a>
            <a href="#" class="instagram"><img src="../../assets/img/instagram.png"></a>
        </div>
    </div>
</section>

<header id="header">
    <div class="container">

        <div class="logo float-left">
            <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>
        </div>

        <nav class="nav-menu float-right d-none d-lg-block">
            <ul>
                <li class="drop-down">
                    <a href="/usluge">USLUGE</a>
                    <ul>
                        <li class="drop-down">
                            <a href="/engleski">Nemacki Jezik</a>
                            <ul class="nested-dropdown">
                                <li><a href="#">Opšti kurs</a></li>
                                <li><a href="#">Konverzacijski kurs</a></li>
                                <li><a href="#">Biznis kurs</a></li>
                                <li><a href="#">Pripreme za TOEFL ili IETLS</a></li>
                            </ul>
                        </li>
                        <li class="drop-down">
                            <a href="/engleski">Engleski Jezik</a>
                            <ul class="nested-dropdown">
                                <li><a href="#">Opšti kurs</a></li>
                                <li><a href="#">Konverzacijski kurs</a></li>
                                <li><a href="#">Biznis kurs</a></li>
                                <li><a href="#">Pripreme za TOEFL ili IETLS</a></li>
                            </ul>
                        </li>
                        <li class="drop-down">
                            <a href="/engleski">Turski Jezik</a>
                            <ul class="nested-dropdown">
                                <li><a href="#">Opšti kurs</a></li>
                                <li><a href="#">Konverzacijski kurs</a></li>
                                <li><a href="#">Biznis kurs</a></li>
                                <li><a href="#">Pripreme za TOEFL ili IETLS</a></li>
                            </ul>
                        </li>
                        <li class="drop-down">
                            <a href="/engleski">Arapski Jezik</a>
                            <ul class="nested-dropdown">
                                <li><a href="#">Opšti kurs</a></li>
                                <li><a href="#">Konverzacijski kurs</a></li>
                                <li><a href="#">Biznis kurs</a></li>
                                <li><a href="#">Pripreme za TOEFL ili IETLS</a></li>
                            </ul>
                        </li>
                        <li><a href="/ostalo">Ostale Usluge</a></li>
                    </ul>
                </li>
                <li><a href="/online">ONLINE</a></li>
                <li><a href="/hiring">ZAPOSLJAVANJE</a></li>
                <li><a href="/about">O NAMA</a></li>
                <li><a href="/contact">KONTAKT</a></li>
            </ul>
        </nav>

    </div>
</header>