<div class="footer-wrapper">
    <div class="left-side">
        <h1>System</h1>
        <hr>
        <p>System je obrazovna institucija koja nudi in-class i online nastavu. Nudimo učenje nemačkog, engleskog,
            turskog i arapskog jezika. Nastava se odvija po principu svetski priznatih škola, gde se preferira
            interaktivna i personalizovana nastava. Časovi su unapred organizovani i prilagođeni potrebama svakog
            polaznika ili grupe.
        </p>
        <h2>Ostanimo u kontaktu</h2>
        <p>Ukoliko ste zainteresovani za naše usluge, ili imate dodatnih pitanja, kontaktirajte nas.</p>
    </div>
    <div class="right-side">
        <div>

        </div>
        <div>

        </div>
    </div>
</div>
<div class="bottom">
    <p>&#169; {{ year }} System Education. Sva prava pridrzana.</p>
    <div class="social-links float-right">
        <a href="#" class="facebook"><img src="../../assets/img/facebook.png"></a>
        <a href="#" class="linkedin"><img src="../../assets/img/linkedin.png"></a>
        <a href="#" class="twitter"><img src="../../assets/img/twitter.png"></a>
        <a href="#" class="instagram"><img src="../../assets/img/instagram.png"></a>
    </div>
</div>