@import "../../system-constants.scss";

:host {
    .blog-wrapper {
        display: flex;
        margin-left: 5rem;
        margin-right: 5rem;
    }
    h5 {
        font-weight: bold;
        span {
            color: $system-grey;
            font-size: 1rem;
            font-weight: bold;
        }
    }

    .main-item {
        width: 58%;
        height: 60rem;
        flex-grow: 1;
        .main-image {
            object-fit: cover;
            max-height: 20rem;
            width: 55rem;
        }
        h1 {
            padding-top: 2rem;
            max-width: 55rem;
        }

        p {
            max-width: 55rem;
            text-align: justify;
        }
    }

    .blog-items {
        width: 42%;
        table {
            width: 100%;
            td {
                cursor: pointer;
                border-bottom: solid 1px $system-grey;
                h1 {
                    font-size: 1.5rem;
                }
                h5 {
                    font-size: 1rem;
                }
                .item-image {
                    width: 10rem;
                    height: 10rem;
                }
            }
        }
        hr {
            margin-top: 0;
        }
    }
}
