<div class="blog-wrapper">
    <div class="main-item">
        <!-- <div>BLOG I VESTI</div> -->
        <img [src]="selectedBlog.image" class="main-image" alt="">
        <h1>{{selectedBlog.title}}</h1>
        <h5>{{selectedBlog.creator}} - <span>{{selectedBlog.date}}</span></h5>

        <p>{{selectedBlog.text}}
        </p>
    </div>

    <div class="blog-items">
        <hr>
        <table>
            <tr *ngFor="let item of items">
                <td (click)="changeBlog(item)">
                    <img [src]="item.image" class="item-image" alt="">
                </td>
                <td align="center" (click)="changeBlog(item)">
                    <h1>{{item.title}}</h1>
                    <h5>{{item.creator}} - <span>{{item.date}}</span></h5>
                    <!-- <hr> -->
                </td>
            </tr>
        </table>
    </div>
</div>