// colors
$system-grey: #bcbec0;
$system-green-light: #45eac2;
$system-green-primary: #0e363c;
$system-green-secondary: #0d3a3d;
$system-green-dark: #041314;

// fonts
$primary-font: 'Barlow', sans-serif;
$secondary-font: 'Montserrat', sans-serif;


// other constants
$small-margin: 1%;
