<div class="headline">
    <h1>Online</h1>
</div>

<div class="main-text">
    <p>Nudimo online nastavu po svetskim standardima, a zatim i mogućnost zaposlenja.</p>
    <p>
        Svesni smo da zbog savremenog načina života sve manje imamo vremena za dodatne aktivnosti kojima želimo da se
        bavimo. Kako bismo pratili svetski trend i usavršili svoju ponudu, nudimo Vam učenje jezika i putem online
        nastave gde možete znatno uštedeti na svom vremenu, troškovima puta, kao i moći u vreme koje Vama odgovara da
        učite iz udobnosti svog doma ili mesta po Vašoj volji. Vaše je samo da imate u dogovorenom terminu pristup
        internetu i telefon, tablet ili laptop.
    </p>
</div>

<div class="online">
    <hr>
    <h1>KORACI DO ONLINE NASTAVE</h1>
    <hr>

    <div>
        <table>
            <tr>
                <td>
                    <h1>1</h1>
                </td>
                <td align="center"> Javite nam se putem online formulara na našoj stranici, pošaljite poruku na facebook-u, instagram-u
                    ili
                    nas nazovite na sledeći broj telefona +381 64 914 2248.</td>
            </tr>
            <tr>
                <td>
                    <h1>2</h1>
                </td>
                <td align="center"> Organizujemo Vam kontakt sa profesorom, gde će Vas predavač uputiti u detalje i način
                    funkcionisanja online
                    nastave.</td>
            </tr>
        </table>

    </div>
    <hr>
    <div>
        <h1>2</h1>
        <span>
            Organizujemo Vam kontakt sa profesorom, gde će Vas predavač uputiti u detalje i način funkcionisanja online
            nastave.
        </span>
    </div>
    <hr>
    <div>
        <h1>3</h1>
        <span>
            Ukoliko se odlučite da nastavite sa online nastavom. Ugovaramo broj časova na mesečnom nivou, koji su ujedno
            i ﬂeksibilni. Dakle nastava se organizuje u skladu sa Vašim i profesorovim obavezama.
        </span>
    </div>
    <hr>
    <div>
        <h1>4</h1>
        <span>
            Nastava se odvija preko ZOOM-a, aplikacije koja se pokazala najboljom za online nastavu.
        </span>
    </div>
    <hr>

</div>