@import "../system-constants.scss";

* {
  font-family: $primary-font;
}

.services-wrapper {
  display: flex;
  background-color: $system-green-primary;
}

.image-icon {
  width: 3.5rem;
  height: 3.5rem;
  margin-bottom: 1rem;
}

.service-card {
  padding: 2rem 2rem 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-right: solid 1px $system-green-light;
  justify-content: flex-start;
  h1 {
    color: $system-green-light;
    text-align: left;
  }
  p {
    color: white;
  }
}

.service-card-last {
  padding: 2rem 2rem 2rem 2rem;
  margin-top: 2rem;
  justify-content: flex-start;
  div {
    display: flex;
    justify-content: space-between;
    div {
      background-color: white;
      color: $system-green-primary;
      font-size: 2rem;
      height: 3rem;
      padding-right: 10px;
      padding-left: 10px;
      font-weight: bold;
    }
  }
  h1 {
    color: $system-green-light;
    text-align: left;
  }
  p {
    color: white;
  }
}

.headline {
  margin-right: 2rem;
  padding-top: 2rem;
  color: $system-green-primary;
  font-weight: bold;
  float: right;
}

.main-body {
  display: flex;
  flex-direction: column;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 5rem;
}

.main-text {
  margin-top: 2rem;
  font-size: 1.5rem;
}
 
.numbers {
  display: flex;
  justify-content: space-evenly;
  div {
    text-align: center;
    h1 {
      font-size: 5rem;
    }
  }
}


.clients {
  padding: 5rem 5rem 5rem;
}